<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <%= link_to 'anichase', '/', class: "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
      data-target="#navbar" aria-controls="navbar" aria-expanded="false"
      aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "アニメ一覧", :animes, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "番組表", :schedules, class: "nav-link" %>
        </li>
      </ul>

      <% if current_member %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "#{current_member.name}さんアカウント",
              :account, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ログアウト", :session, method: :delete, class: "nav-link" %>
          </li>
          <% if current_member.administrator? %>
            <li class="nav-item">
              <%= link_to "管理TOP", :admin_root, class: "nav-link" %>
            </li>
          <%end%>
        </ul>
      <%else%>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ログイン", :login, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", :new_member, class: "nav-link" %>
          </li>
        </ul>
      <%end%>
    </div>
  </nav>
</header>