<% @page_title = "アカウント情報編集" %>

<div class="form-group">
  <%= form_with model: @member, url: :account do |f| %>
    <div class="control-label">
      <%= f.label :name, "アカウント名" %>
    </div>
    <div class="form-group">
      <%= f.text_field :name %>
    </div>
    <div class="control-label">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="form-group">
      <%= f.text_field :email %>
    </div>
    <p><%= f.submit "変更", class: "btn btn-warning" %></p>
    <p><%= link_to "戻る", :account %></p>
  <% end %>
</div>