<% @page_title = "アカウント情報編集" %>
<h1><%= @page_title %></h1>

<div id="generic-form">
  <%= form_with model: @member, url: :account do |f| %>
    <div>
      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :account %>
    </div>
  <% end %>
</div>