<% @page_title = "#{current_member.name}さんアカウント" %>
<h1><%= @page_title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "アカウント情報編集", :edit_account %> |
    <%= link_to "パスワード編集", :edit_password %>
  </div>

  <table class="attributes">
    <tr>
      <th>アカウント名</th>
      <td>
        <%= @member.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="email">
        <%= @member.email %>
      </td>
    </tr>
  </table>
</div>

